body{
   background: linear-gradient(rgb(2, 2, 65),rgb(15, 36, 15),rgb(31, 58, 47));
}




.main{
    /* border: 3px solid blue; */
    width: 400px;
     height: 270px;
     margin: 0 auto;
     background: linear-gradient(rgb(25, 27, 27),rgb(117, 115, 115),rgb(7, 75, 52));
     display: flex;
     flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 10px;
    outline-style: none;
    
    }
  
  #result{
       width: 383px;
       color: rgb(73, 1, 1);
       border-radius:10px ;
       outline-style: none;
       height: 30px;
       padding-left: 10px;
       font-size: 23px;
       cursor: pointer;
  }
  .clear{
    width: 400px;
      margin-top: 5px;
      background-color: rgb(49, 49, 48);
      color: wheat;
      height: 30px;
      font-size: 23px;
      border-radius: 10px;
      outline-style: none;
  }
  .btn{
    border-radius: 10px;
    outline-style: none;
      width: 85px;
      /* background-color: black; */
      color: rgb(248, 239, 237);
      margin: 5px;
      background: linear-gradient(darkblue,rgb(39, 25, 25),rgb(243, 219, 8));
      height: 30px;
      font-size: 23px;
  }
  .bottom{
      width: 178px;
      background:linear-gradient(rgb(51, 46, 46),rgb(23, 34, 23),rgb(116, 41, 53));
      color: rgb(139, 136, 136);
      margin: 10px;
      border-radius: 10px;
      outline-style: none;
      font-size: 23px;
  
  } 
  .btn:hover{
      color: green;
      cursor: pointer;
      background: linear-gradient(rgb(5, 42, 250),rgb(87, 7, 47),red);
    
  }
  
  .clear:hover{

    cursor: pointer;
    background: linear-gradient(rgb(70, 21, 70),rgb(77, 68, 22),rgb(41, 63, 6));
  
}
.bottom:hover{

  cursor: pointer;
  background: linear-gradient(rgb(30, 95, 30),rgb(8, 8, 14),red);

}
.main:hover{

  cursor: pointer;
  background: linear-gradient(rgb(3, 65, 3),rgb(8, 8, 14),rgb(85, 8, 31));

}

.hidden{
  display: none;
}











